.background_border{

	background:#120942;	
}

#name{
  font-family: 'Lato', sans-serif;
}

td{
  pad:5px;
}

.container_of_page {
      margin:auto 20%;
      padding:20px 35px;
      border:1px solid #120942;
      border-radius: 25px;
      background-image:linear-gradient(#7eede4, #e9f5f4);
      background-repeat: no-repeat;
	    background-attachment: fixed;  
      background-size: cover;
 }

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

body{
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

.container_mine {
  width: 100%;
  background-color: #ddd;
}

.tools{
	color: 	#bebebe;
}

a:visited{
  color:#a1a1f8;
}

a.download {
  background-color: #056f99;
  color: white;
  padding: 10px;
  text-align: center;
/*  text-decoration: none;
  display: inline-block;*/
  border:1px solid #056f99;
  border-radius: 25px;
}

a.download:hover {
  opacity: 0.7;
}

.fa{
  border-radius:20px;
  padding:10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white !important;
}

.fa-linkedin {
  background: #007bb5;
  color: white !important; 
}

.fa-github {
  background: #746dda;
  color: white !important; 
}

.nav-container{
  background:#303538;
}

.navs-all:hover {
  opacity: 0.7;
}

.nav-font-active{
  font: bold;
  color:#ffffff;
  background:#60199b;
}

a.nav-font-active:visited{
  color:#ffffff;
}

.nav-font-inactive{
  font: bold;
  color:#ffffff;

}

a.nav-font-inactive:visited{
  color:#ffffff;
}

.project-txt{
  color: #ffffff;
}

.shadow-style{
  box-shadow: 10px 10px #363636;
}

.glow {
  margin: 25px;
  opacity: 0.8;
  border: 10px solid #eee;
  
  /*Transition*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  
 }
  
.glow:hover {  
    opacity: 1;  
    /*Glow*/
   -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
   -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
   box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}  

.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.course-slide {
  text-align: center;
  display: none;
  padding: 80px;
}

.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  position: absolute;
  margin-top: -30px;
  padding: 16px;
  color: rgb(5, 5, 5);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #181717;
}