.background_border{

	background:#120942;	
}

#name{
  font-family: 'Lato', sans-serif;
}

td{
  pad:5px;
}

.container_of_page {
      margin:auto 20%;
      padding:20px 35px;
      border:1px solid #120942;
      border-radius: 25px;
      background-image:linear-gradient(#7eede4, #e9f5f4);
      background-repeat: no-repeat;
	    background-attachment: fixed;  
      background-size: cover;
 }

/*#subheading{
	font-size: 120%;
}

.center_align
{
	text-align: center;
}*/


/*.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
*/

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

body{
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

.img {
    max-width:100%;
    height:auto;
}

.container_mine {
  width: 100%;
  background-color: #ddd;
}

.tools{
	color: 	#707070;
}

a:visited{
  color:#010152;
}

a.download {
  background-color: #056f99;
  color: white;
  padding: 10px;
  text-align: center;
/*  text-decoration: none;
  display: inline-block;*/
  border:1px solid #056f99;
  border-radius: 25px;
}

a.download:hover {
  opacity: 0.7;
}

.fa{
  border-radius:20px;
  padding:10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white; 
}

.fa-github {
  background: #746dda;
  color: white; 
}

.nav-container{
  background:#303538;
}

.navs-all:hover {
  opacity: 0.7;
}

.nav-font-active{
  font: bold;
  color:#ffffff;
  background:#60199b;
}

a.nav-font-active:visited{
  color:#ffffff;
}

.nav-font-inactive{
  font: bold;
  color:#ffffff;

}

a.nav-font-inactive:visited{
  color:#ffffff;
}

/* .meter { 
	height: 20px;  
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
} */
